@use "../../../style/variables.scss";
@use "../../../style/mixin.scss" as m;

.Top {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  &--displayed {
    opacity: 1;
  }

  & .Top__text {
    position: fixed;
    top: 60px;
    left: 60px;
    text-align: left;

    @include m.respondToSm {
      top: 28px;
      left: 20px;
    }

    & h1 {
      font-size: 17px;

      @include m.respondToSm {
        line-height: 1;
      }
    }

    & p {
      margin-top: 20px;
      max-width: 400px;
      font-size: 13px;

      @include m.respondToSm {
        display: none;
      }
    }
  }

  & .Top__photoList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;
    width: 80%;
    max-width: 680px;

    @include m.respondToSm {
      max-width: initial;
      width: 100%;
      padding-top: 50%;
    }
  }

  & .Top__photo {
    & img {
      width: 100%;
    }
  }
}
