@use "../../../style/variables.scss";
@use "../../../style/mixin.scss" as m;

.Top {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  &--displayed {
    opacity: 1;
  }

  @include m.respondToSm {
    flex-direction: column;
  }

  & .Top__text {
    position: fixed;
    top: 60px;
    left: 60px;
    text-align: left;
    height: calc(100svh - 60px - 60px);

    @include m.respondToSm {
      top: 28px;
      left: 20px;
    }

    & h1 {
      font-size: 17px;

      @include m.respondToSm {
        line-height: 1;
      }
    }

    & .Top__textBody {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    & .Top__textProfileEn {
      margin-top: 20px;
      max-width: 400px;
      font-size: 13px;

      @include m.respondToSm {
        display: none;
      }
    }

    & .Top__textJa {
      margin-top: auto;
      max-width: 400px;
      font-size: 12px;
      line-height: 2;

      @include m.respondToSm {
        display: none;
      }
    }
  }

  & .Top__photoList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;
    width: 80%;
    max-width: 680px;

    @include m.respondToSm {
      max-width: initial;
      width: 100%;
      padding-top: 50%;
    }
  }

  & .Top__photo {
    & img {
      width: 100%;
    }
  }

  & .Top__textSp {
    display: none;
    padding-bottom: 32px;

    @include m.respondToSm {
      margin-top: 100px;
      display: initial;
      height: fit-content;
      text-align: left;
    }

    & .Top__textJa {
      margin-top: 80px;
      width: 100%;
      font-size: 12px;
      line-height: 2.2;
      white-space: pre-line;
    }
  }
}
