@use "./style/_reset";
@use "./style/variables.scss" as v;

body {
  // フォントデフォルト設定
  color: v.$font-color-black;
  font-family: "playfair-display", "hina-mincho", serif;
}

a {
  color: v.$font-color-black;
}
